.roro {
    background-color: tomato;
    width: 100px;
    height: 100px;
    font: italic pink 200px ;
    animation: RORO;
}
@keyframes RORO {
    0%{background-color: aquamarine;}
    100% {background-color: blueviolet;}
}
img{
    width: 100px;
    height: 300px;
}